URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent
KEY=YOUR_GEMINI_API_KEY
LIST_MSG=Mari kita berbincang,Kita sebenarnya AI,Aku ingin berbicara tentang AI,Anda bodoh,kamu salah,Well itu tidak sepenuhnya benar berdasarkan data 2025 itu tidak lagi relevan,Saya ragu dapat mempercayai kualitas informasi ini,bisa lebih rinci?,Hey! itu tidak benar